.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: auto;
  padding: 0.5em;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-shrink: 1;
  background-color: #1d273b;
  border-radius: 12px;
  padding: 0.5em;
  margin: 0.5em;
  width: 32em;
  height: 15em;
}

.smallChart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-shrink: 1;
  background-color: #1d273b;
  border-radius: 12px;
  padding: 0.5em;
  margin: 0.5em;
  width: 20em;
  height: 15em;
}

.chartGroup {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-width: 20em;
}

.side {
  display: flex;
  justify-content: start;
  align-items: start;
  min-width: 26em;
  height: 100%;
  max-height: 50em;
}

.chatbotContainer {
  display: flex;
  flex-shrink: 1;
  width: 22em;
  height: 100%;
  max-height: 34em;
  margin: 0.5em;
}

@media screen and ((max-width: 1175px)) {
  .chart,
  .chatbotContainer {
    width: 100%;
  }
}

@media screen and ((min-height: 1000px)) {
  .charts {
    padding: 0;
  }

  .chart {
    width: 100%;
    height: fit-content;
  }
}

@media screen and ((max-width: 1380px) and (max-height: 1100px)) {
  .charts {
    padding: 0;
  }

  .chartsGroup,
  .side {
    max-width: 24em;
    width: 100%;
  }

  .chart,
  .smallChart {
    width: 100%;
    height: 13em;
  }

  .chatbotContainer {
    width: 100%;
  }
}
