.table {
    width: 100%;
}

.tr {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: auto;
    border-top: 4px solid black;
    padding: 4px;
}

.th, .td {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
    border-right: 1px solid white;
    padding: 4px;
}

.thead {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height:auto;
    border: 1px solid white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: fit-content;
}

.title {
    font-size: xx-large;
}

.addtbtn {
    background-color: white;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    color: black;
}