.leftContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 90px;
    font-weight: 700;
    color: white;
    background-image: url("./background.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    border-right: 2px solid #4A6090;
}

.loginSection{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: #1d273b;
}

.loginContainer{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
    background-color: #1d273b;
}

.loginButton{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    font-size: small;
    font-weight: 500;
    color: #111827;
    padding: 0.75em;
    border-radius: 0.75em;
}

.span{
    font-size: 2em;
    font-weight: 800;
}

.h1{
    width: 48%;
    height: 100%;
    padding: 0.32em;
}

@media screen and ((max-width: 1000px) or (min-height: 1000px)){
    .leftContent{
        display: none
    }
    .loginButton{
        width: 56%;
        font-size: large;
    }
    .span{
        font-size: 4em;
    }
}