.screen {
    background-color: #111827;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100vh;
    margin-left: 4%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 80%;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d273b;
    border-radius: 0.5em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    width: 100%;
    min-width: 400px;
    height: 6%;
    min-height: 40px;
}

.noteLabel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #1d273b;
    border-radius: 0.5em;
    padding: 1.25em;
    padding-top: 0.4em;
    width: 100%;
    min-width: 400px;
    height: 24%;
    min-height: 160px;
}

.select {
    background-color: #53607e;
    border: 0.5px solid #d1d5db;
    color: #d1d5db;
    border-radius: 4px;
}

.input {
    background-color: #53607e;
    border: 0.5px solid #d1d5db;
    color: #d1d5db;
    border-radius: 4px;
    width: 160px;
}

.textarea {
    padding-top: 0.25em;
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 0.375rem;
    border: 0.5px solid #d1d5db;
    line-height: 1.25rem;
    background-color: #53607e;
    color: #d1d5db;
    border-radius: 4px;
}

.button {
    background-color: rgb(60, 165, 165);
    color: white;
    padding: 4px;
    padding: 12px;
    border-radius: 4px;
    margin-top: 16px;
    font-weight: bold;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 28px;
}

@media screen and ((min-width: 1000px)) {
    .label, .noteLabel {
        min-width: 600px;
    }

    .input, .select {
        width: 200px;
    }
}