.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #1d273b;
    border-radius: 12px;
    padding: 0.5em;
    margin: 0.5em;
    width: 28em;
    height: 13em;
}

.lineChart {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #1d273b;
    border-radius: 12px;
    padding: 0.25em;
    margin: 0.5em;
    width: 26em;
    height: 13em;
}

.cardChart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    width: auto;
    height: 13em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100%;
    min-width: 14em;
    max-height: 14.5em;
    background-color: #1d273b;
    border-radius: 12px;
    padding: 0.75em;
    margin: 0.5em;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

.amount {
    font-size: 1.1em;
    font-weight: bolder;
}

.chartContainer {
    height: 3em;
}

.miniCardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100%;
}

@media screen and ((max-width: 500px) or (min-height: 1000px)){
    .chart {
        max-width: 100%;
        height: fit-content;
    }
    
    .cardChart {
        height: fit-content;
    }
}