.donutChart {
    width: 14em;
    height: 14em;
}

.lineChart {
    width: 30em;
    height: 30em;
}

.barGraphY {
    width: 24em;
    height: 12em;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100%;
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 0.5em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: rgb(26, 26, 26);
    border-radius: 12px;
    padding: 0.75em;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

.amount {
    font-size: 1.1em;
    font-weight: bolder;
}

.chartContainer {
    height: 3em;
}

.miniCardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 14em;
    overflow-y: hide;
}