.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: auto;
  padding: 0.5em;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-shrink: 1;
  background-color: #1d273b;
  border-radius: 12px;
  padding: 0.5em;
  margin: 0.5em;
  width: 24em;
  height: 13em;
}

.lineChart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-shrink: 1;
  background-color: #1d273b;
  border-radius: 12px;
  padding: 0.25em;
  margin: 0.5em;
  width: 26em;
  height: 13em;
}

.cardChart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 1;
  border-radius: 12px;
  width: auto;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 100%;
  min-width: 14em;
  max-height: 14.5em;
  background-color: #1d273b;
  border-radius: 12px;
  padding: 0.75em;
  margin: 0.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}

.amount {
  font-size: 1.1em;
  font-weight: bolder;
}

.chartContainer {
  height: 3em;
}

.miniCardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
  height: auto;
}

.chartGroup {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  min-width: 20em;
}

.chatbotContainer {
  display: flex;
  flex-shrink: 1;
  width: 22em;
  height: 27em;
  margin: 0.5em;
}

@media screen and ((max-width: 1175px)) {
  .chart,
  .lineChart,
  .chatbotContainer {
    width: 100%;
  }
}

@media screen and ((min-height: 1000px)) {
  .charts {
    padding: 0;
  }

  .chart {
    width: 100%;
    height: fit-content;
  }

  .lineChart {
    width: 100%;
  }

  .cardChart {
    height: fit-content;
  }

  .chatbotContainer {
    width: 100%;
    flex-shrink: 1;
  }
}

@media screen and ((max-width: 1380px) and (max-height: 1100px)) {
  .charts {
    padding: 0;
  }

  .chart,
  .lineChart {
    width: 22em;
    height: 13em;
  }

  .cardChart {
    height: fit-content;
  }

  .chatbotContainer {
    width: 24em;
  }
}
