.donutChart {
    width: 14em;
    height: 14em;
}

.lineChart {
    width: 30em;
    height: 30em;
}

.barGraphY {
    width: 24em;
    height: 12em;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: start;
    width: 100%;
    height: 100%;
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 0.5em;
}