.sidenavbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
    height: 90%;
    margin: 2em;
    background-color:cadetblue;
    border-radius: 2em;
}

.monthButton {
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
}

.activeMonth {
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 0.5em;
}