.tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 80%;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
}

.thead {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: auto;
    border: 1px solid white;
}

.tr {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
}

.tbody {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 92%;
    overflow-y: scroll;
}

.tr {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100%;
    border-top: 4px solid black;
}

.th {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: auto;
    border-right: 1px solid white;
    padding: 0.15em;
}

.td {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
    border-left: 1px solid white;
    padding: 0.5em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.addtbtn {
    background-color: white;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    color: black;
}

.title {
    font-size: xx-large;
}
