.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
}

.topnavbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 6%;
    margin: 1em;
    background-color:cadetblue;
    border-radius: 2em;
}

.dashboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.charts {
    display: flex;
    justify-content: end;
    align-items: start;
    width: 90%;
    height: 100%;
}

.chart {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 0.5em;
}