.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 100%;
}

.topnavbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 6%;
    margin: 1em;
    background-color:cadetblue;
    border-radius: 2em;
}

.dashboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.btn {
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: white;
}

.activeBtn {
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}