.navbar {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
}

.charts {
    display: flex;
    justify-content: end;
    width: 90%;
    height: 100%;
}

.chart {
    display: flex;
    flex-direction: column;
}

.dashboard {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    height: 100%
}